// 主色系
$color-primary: #D9A45F;
$color-secondary: #B9CBB3;
$color-dark: #6B4F3B;
$color-background: #F4EFE6;
$color-text: #4A4A4A;
$color-border: #8d8d8d;
$color-light-text: #F9F6F1;

// header 顏色
$color-header-bg: #867F74;

$color-homeSlider-arrow: #b9cbb3;

// 字型
$font-family-base: 'Noto Sans TC', sans-serif;